.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#title {
  text-align: center;
  font-family: arial, sans-serif;
}

.links {
  padding: 10px;
}

#transactions {
  padding-top: 15px;
}

#transactions td, #transactions th {
  border: 1px solid #ddd;
  padding: 8px;
}


#transactions tr:nth-child(even){background-color: #f2f2f2;}
#transactions tr:hover {background-color: #ddd;}
#transactions th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #FFAC31;
  color: white;
}


.rounded {
  width: 96%;
  border: none;
  color: black;
  padding: 3px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  font-size: 13px;
  margin: 4px 2px;
}

.roundedOutline {
  width: 96%;
  border: solid;
  color: black;
  padding: 3px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  font-size: 13px;
  margin: 4px 2px;
}

.addButton {
  background-color: rgb(3, 54, 6);
  border: none;
  color: white;
  padding: 10px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  font-size: 13px;
  margin: 4px 2px;
}

.updateButton {
  background-color: rgb(11, 59, 87);
  border: none;
  color: white;
  padding: 10px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  font-size: 13px;
  margin: 4px 2px;
}

.filter {
  background-color: rgb(86, 90, 87);
  border: none;
  color: white;
  padding: 10px;
  width: 98%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  font-size: 13px;
  margin: 4px 2px;
}

.deleteTxnButton {
  background-color: rgb(151, 7, 7);
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  font-size: 13px;
  margin: 4px 2px;
}

.updateTxnButton {
  background-color: rgb(131, 131, 134);
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  font-size: 13px;
  margin: 4px 2px;
}


.button {
  background-color: #31465F;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  font-size: 13px;
  margin: 4px 2px;
}

.expenseTxn {
  background-color: #31465F;
  border: none;
  color: white;
  width: 96%;
  padding: 10px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  font-size: 13px;
  margin: 4px 2px;
}
.incomeTxn {
  background-color: rgb(3, 54, 6);
  border: none;
  color: white;
  width: 96%;
  padding: 10px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  font-size: 13px;
  margin: 4px 2px;
}

.addTransactionBackground {
  background-color: rgb(197, 197, 197);
  border-radius: 8px;
  padding: 10px;
  width: 96%;
  display: inline-block;

  margin: 4px 2px;
  border-radius: 8px;
}
.right{
  float:right;
}

.left{
  float:left;
}
.signOut {
  background-color: rgb(89, 93, 97);
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  font-size: 13px;
  margin: 4px 20px;
}


.Link {
  border: none;
  color: rgb(10, 99, 231);
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  font-size: 16px;
  margin: 4px 2px;
}

#container {
  height: 100%;
  width: 100%;
  display: flex;
}
#leftThing {
  width: 25%;
}
#content {
  width: 50%;
}
#rightThing {
  width: 25%;
}

.bar {
  float: left;
  padding: 6px 8px 6px 16px;
}

.barbooks {
  float: left;
  padding: 6px 8px 6px 16px;
}