.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#title {
  text-align: center;
  font-family: arial, sans-serif;
}

.links {
  padding: 10px;
}


#transactions td, #transactions th {
  border: 1px solid #ddd;
  padding: 4px;
}


#transactions tr:nth-child(even){background-color: #f2f2f2;}
#transactions tr:hover {background-color: #ddd;}
#transactions th {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  background-color: rgb(255, 124, 123);
  color: white;
}

#summary {
  padding-top: 15px;
}

#summary td, #summary th {
  border: 1px solid #ddd;
  padding: 8px;
}


#summary tr:nth-child(even){background-color: #f2f2f2;}
#summary tr:hover {background-color: #ddd;}
#summary th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #FFAC31;
  color: white;
}


.rounded {
  width: 96%;
  color: black;
  border-color: black;
  border-width: 1px;

  padding: 3px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  font-size: 13px;
  margin: 4px 2px;
}

.roundedShare {
  border: none;
  color: black;
  padding: 3px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  font-size: 13px;
  margin: 4px 2px;
}

.roundedOutline {
  color: black;
  border-color: black;
  border-width: 1px;
  padding: 3px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  font-size: 13px;
  margin: 4px 2px;
}

.addButton {
  background-color: rgb(3, 54, 6);
  border: none;
  color: white;
  padding: 10px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  font-size: 13px;
  margin: 4px 2px;
}

.updateButton {
  background-color: rgb(11, 59, 87);
  border: none;
  color: white;
  padding: 10px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  font-size: 13px;
  margin: 4px 2px;
}

.filter {
  background-color:rgb(199, 199, 199);
  border: none;
  color: black;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  font-size: 13px;
  margin: 4px 4px;
}

.updateTxnButton {
  background-color: rgb(131, 131, 134);
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  font-size: 13px;
  margin: 4px 2px;
}
.deleteTxnButton {
  background-color: rgb(151, 7, 7);
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  font-size: 13px;
  margin: 4px 2px;
}
.duplicateTxnButton {
  background-color: rgb(12, 100, 85);
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  font-size: 13px;
  margin: 4px 2px;
}

.botRight {
  position:absolute;
  bottom:0;
  right:0;
}

.button {
  background-color: #31465F;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  font-size: 13px;
  margin: 4px 2px;
}

.expenseTxn {
  background-color:rgb(235, 235, 235);
  border: none;
  color: black;
  width: 100%;
  padding: 10px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  font-size: 13px;
  margin: 4px 2px;
}
.incomeTxn {
  background-color: rgb(3, 54, 6);
  border: none;
  color: white;
  width: 100%;
  padding: 10px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  font-size: 13px;
  margin: 4px 2px;
}

.addTransactionBackground {
  background-color:rgb(235, 235, 235);
  border-radius: 8px;
  padding: 10px;
  display: inline-block;

  margin-left: 16px;
  margin-top: 16px;
  margin-right: 16px;

  border-radius: 8px;
}
.right{
  float:right;
}

.left{
  float:left;
}
.signOut {
  background-color: rgb(235, 235, 235);
  border: none;
  color: black;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  font-size: 13px;
  margin: 4px 4px;
}


.Link {
  border: none;
  color: rgb(10, 99, 231);
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  font-size: 16px;
  margin: 4px 2px;
}

#container {
  height: 100%;
  width: 100%;
  display: flex;
}
#leftThing {
  width: 25%;
}
#content {
  width: 50%;
}
#rightThing {
  width: 25%;
}

.bar {
  padding-left: 16px;
  /* width: 100px;
  height: 100px; */
  float: left;
}

.barbooks {
  padding-left: 16px;
  padding-bottom: 16px;
  padding-right: 16px;

  /* width: 100px;
  height: 100px; */
  float: left;
}
.footer {  
  background-color: rgb(255, 124, 123);
  color: rgb(255, 124, 123);
  text-align: center;
  position: absolute;
  bottom: 0;
  align-items: center;
  width: 100%;
  /* height: 30px; */
  /* padding-bottom: 0px;   */
  position: relative;
  /* min-height: 100vh; */
}

.footerText {
  padding-top: 8px;
  text-align: center;
  color: azure;
}

.inputs {
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  border-radius: 8px;
}

.filtersInput {
  margin-top: 8px;

  margin-left: 16px;

}